# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv
env

# 项目排除
*.bat
*.md
requirements.txt
instock/cache/*
instock/log/*
instock/test
instock/fontWeb/node_modules
instock/fontWeb/dist
img
docker

# 系统文件
.DS_Store
Thumbs.db
*.log
